@charset "UTF-8";

div, session, header, aside, footer{padding:3px;}

body {
	margin:0 auto;
}

div#container {
    background-color:#F0F0F0; 
    width:960px;
    margin:0 auto;
    padding-bottom: 30px;
    min-height:580px;
}

header{
	margin:0px;
    background-color:#00BCd4;
    height:130px;
    width:100%;
    position:relative;
    padding:10px 0 0 0;
}

header h2{
    margin-left:20px;
}

section#content {
    background-color:#F5F5F5;
    margin:0 auto;
    width:940px;
    min-height:520px;
}

footer { 
    background-color:#00BCd4;
    clear:both;
    height:70px;
    text-align:center;
}

/* 로그인 폼 */
header div.login-container {
    width:250px; 
    position:absolute; 
    right: 0px; 
    top: 10px;
}

/* 로그인테이블관련 : 탭순서를 고려해 submit버튼이 2번째행 2번째열에 배치 */
#loginFrm table { 
    empty-cells:hide;
}

#loginFrm input[type=submit] {
    width:60px; 
    height:50px; 
    color:white; 
    background:#3300ff; 
    position:absolute; 
    top:10px;
}

/* 메뉴관련스타일 */
header nav {
	background:#5283de; 
	width:100%; 
	margin-top:40px;
}

/* ul태그의 가운데정렬 */
ul.main-nav {
	/* width:80%; */
	display:table;
	padding:0px;
	margin:auto;
}

ul.main-nav li { 
	list-style-type: none; 
	width: 8em; 
	height: 2.4em;
	float: left; 
	text-align: center; 
	font-family: sans-serif;
	font-weight: bold; 
	border-left: 1px #00bcd4 solid;
	background-color: #5283de; 
}

ul.main-nav li:last-of-type {
	border-right:1px #00bcd4 solid;
}

ul.main-nav li a {
	/*a태그의 display기본값은 inline임*/
	display: block;
	padding:.5em;
	text-decoration: none;
	color: #292929;
}

/* hover시 배경색 변경 */

ul.main-nav li:hover{
	background-color: #3300ff;
}

ul.main-nav li:hover > a{
	color:#FFF; /* 글자색*/
}

