<!DOCTYPE html>
<html lang="en">
<head>
	<title>Booking - Multipurpose Online Booking Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script type="text/javascript">
		var theme = localStorage.getItem('data-theme');
		var root = document.documentElement;
		if (theme === 'dark' && theme !== undefined) {
			root.classList.add('dark-mode');
		} else {
			root.classList.remove('dark-mode');
		}
	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/overlay-scrollbar/css/overlayscrollbars.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
	<!-- Sidebar START -->
	<nav class="navbar sidebar navbar-expand-xl navbar-light">
		<!-- Navbar brand for xl START -->
		<div class="d-flex align-items-center">
			<a class="navbar-brand" href="index.html">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
		</div>
		<!-- Navbar brand for xl END -->
		
		<div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1" id="offcanvasSidebar">
			<div class="offcanvas-body sidebar-content d-flex flex-column pt-4">

				<!-- Sidebar menu START -->
				<ul class="navbar-nav flex-column" id="navbar-sidebar">
					
					<!-- Menu item -->
					<li class="nav-item"><a href="admin-dashboard.html" class="nav-link">Dashboard</a></li>
					
					<!-- Title -->
					<li class="nav-item ms-2 my-2">Pages</li>

					<!-- Menu item -->
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#collapsebooking" role="button" aria-expanded="false" aria-controls="collapsebooking">
						Bookings
						</a>
						<!-- Submenu -->
						<ul class="nav collapse flex-column" id="collapsebooking" data-bs-parent="#navbar-sidebar">
							<li class="nav-item"> <a class="nav-link" href="admin-booking-list.html">Booking List</a></li>
							<li class="nav-item"> <a class="nav-link" href="admin-booking-detail.html">Booking Detail</a></li>
						</ul>
					</li>
	
					<!-- Menu item -->
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#collapseguest" role="button" aria-expanded="false" aria-controls="collapseguest">
						Guests
						</a>
						<!-- Submenu -->
						<ul class="nav collapse flex-column" id="collapseguest" data-bs-parent="#navbar-sidebar">
							<li class="nav-item"> <a class="nav-link" href="admin-guest-list.html">Guest List</a></li>
							<li class="nav-item"> <a class="nav-link" href="admin-guest-detail.html">Guest Detail</a></li>
						</ul>
					</li>

					<!-- Menu item -->
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#collapseagent" role="button" aria-expanded="false" aria-controls="collapseagent">
						Agents
						</a>
						<!-- Submenu -->
						<ul class="nav collapse flex-column" id="collapseagent" data-bs-parent="#navbar-sidebar">
							<li class="nav-item"> <a class="nav-link" href="admin-agent-list.html">Agent List</a></li>
							<li class="nav-item"> <a class="nav-link" href="admin-agent-detail.html">Agent Detail</a></li>
						</ul>
					</li>
					
					<!-- Menu item -->
					<li class="nav-item"> <a class="nav-link" href="admin-reviews.html">Reviews</a></li>
	
					<!-- Menu item -->
					<li class="nav-item"> <a class="nav-link active" href="admin-earnings.html">Earnings</a></li>
	
					<!-- Menu item -->
					<li class="nav-item"> <a class="nav-link" href="admin-settings.html">Admin Settings</a></li>
	
					<!-- Menu item -->
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#collapseauthentication" role="button" aria-expanded="false" aria-controls="collapseauthentication">
							Authentication
						</a>
						<!-- Submenu -->
						<ul class="nav collapse flex-column" id="collapseauthentication" data-bs-parent="#navbar-sidebar">
							<li class="nav-item"> <a class="nav-link" href="sign-up.html">Sign Up</a></li>
							<li class="nav-item"> <a class="nav-link" href="sign-in.html">Sign In</a></li>
							<li class="nav-item"> <a class="nav-link" href="forgot-password.html">Forgot Password</a></li>
							<li class="nav-item"> <a class="nav-link" href="error.html">Error 404</a></li>
						</ul>
					</li>
	
					<!-- Title -->
					<li class="nav-item ms-2 my-2">Documentation</li>
	
					<!-- Menu item -->
					<li class="nav-item"> <a class="nav-link" href="docs/index.html">Documentation</a></li>
	
					<!-- Menu item -->
					<li class="nav-item"> <a class="nav-link" href="docs/changelog.html">Changelog</a></li>
				</ul>
				<!-- Sidebar menu end -->
	
				<!-- Sidebar footer START -->
				<div class="d-flex align-items-center justify-content-between text-primary-hover mt-auto p-3">
					<a class="h6 fw-light mb-0 text-body" href="sign-in.html" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Sign out">
						<i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
					</a>
					<a class="h6 mb-0 text-body" href="admin-settings.html" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Settings">
						<i class="bi bi-gear-fill"></i>
					</a>
				</div>
				<!-- Sidebar footer END -->
				
			</div>
		</div>
	</nav>
	<!-- Sidebar END -->
	
	<!-- Page content START -->
	<div class="page-content">
	
		<!-- Top bar START -->
		<nav class="navbar top-bar navbar-light py-0 py-xl-3">
			<div class="container-fluid p-0">
				<div class="d-flex align-items-center w-100">
	
					<!-- Logo START -->
					<div class="d-flex align-items-center d-xl-none">
						<a class="navbar-brand" href="index.html">
							<img class="navbar-brand-item h-40px" src="assets/images/logo-icon.svg" alt="">
						</a>
					</div>
					<!-- Logo END -->
	
					<!-- Toggler for sidebar START -->
					<div class="navbar-expand-xl sidebar-offcanvas-menu">
						<button class="navbar-toggler me-auto p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" aria-expanded="false" aria-label="Toggle navigation" data-bs-auto-close="outside">
							<i class="bi bi-list text-primary fa-fw" data-bs-target="#offcanvasMenu"></i>
						</button>
					</div>
					<!-- Toggler for sidebar END -->
					
					<!-- Top bar left -->
					<div class="navbar-expand-lg ms-auto ms-xl-0">
						<!-- Toggler for menubar START -->
						<button class="navbar-toggler ms-auto p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopContent" aria-controls="navbarTopContent" aria-expanded="false" aria-label="Toggle navigation">
							<i class="bi bi-search"></i>
						</button>
						<!-- Toggler for menubar END -->
	
						<!-- Topbar menu START -->
						<div class="collapse navbar-collapse w-100 z-index-1" id="navbarTopContent">
							<!-- Top search START -->
							<div class="nav my-3 my-xl-0 flex-nowrap align-items-center">
								<div class="nav-item w-100">
									<form class="position-relative">
										<input class="form-control bg-light pe-5" type="search" placeholder="Search" aria-label="Search">
										<button class="bg-transparent px-2 py-0 border-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 text-primary"></i></button>
									</form>
								</div>
							</div>
							<!-- Top search END -->
						</div>
						<!-- Topbar menu END -->
					</div>
					<!-- Top bar left END -->
					
					<!-- Top bar right START -->
					<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
						<!-- Dark mode -->
						<li class="nav-item modeswitch-mini ms-3" id="darkModeSwitch">
							<div class="modeswitch-mini-item">
								<div class="modeswitch-mini-icon"></div>
							</div>
						</li>

						<!-- Notification dropdown START -->
						<li class="nav-item dropdown ms-3">
							<!-- Notification button -->
							<a class="nav-notification btn btn-light p-0 mb-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
								<i class="bi bi-bell fa-fw"></i>
							</a>
							<!-- Notification dote -->
							<span class="notif-badge animation-blink"></span>
		
							<!-- Notification dropdown menu START -->
							<div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md shadow-lg p-0">
								<div class="card bg-transparent">
									<!-- Card header -->
									<div class="card-header bg-transparent d-flex justify-content-between align-items-center border-bottom">
										<h6 class="m-0">Notifications <span class="badge bg-danger bg-opacity-10 text-danger ms-2">4 new</span></h6>
										<a class="small" href="#">Clear all</a>
									</div>
		
									<!-- Card body START -->
									<div class="card-body p-0">
										<ul class="list-group list-group-flush list-unstyled p-2">
											<!-- Notification item -->
											<li>
												<a href="#" class="list-group-item list-group-item-action rounded notif-unread border-0 mb-1 p-3">
													<h6 class="mb-2">New! Booking flights from New York ✈️</h6>
													<p class="mb-0 small">Find the flexible ticket on flights around the world. Start searching today</p>
													<span>Wednesday</span>
												</a>
											</li>
											<!-- Notification item -->
											<li>
												<a href="#" class="list-group-item list-group-item-action rounded border-0 mb-1 p-3">
													<h6 class="mb-2">Sunshine saving are here 🌞 save 30% or more on a stay</h6>
													<span>15 Nov 2022</span>
												</a>
											</li>
										</ul>
									</div>
									<!-- Card body END -->
		
									<!-- Card footer -->
									<div class="card-footer bg-transparent text-center border-top">
										<a href="#" class="btn btn-sm btn-link mb-0 p-0">See all incoming activity</a>
									</div>
								</div>
							</div>
							<!-- Notification dropdown menu END -->
						</li>
						<!-- Notification dropdown END -->
		
						<!-- Profile dropdown START -->
						<li class="nav-item ms-3 dropdown">
							<!-- Avatar -->
							<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
								<img class="avatar-img rounded-2" src="assets/images/avatar/01.jpg" alt="avatar">
							</a>
		
							<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
								<!-- Profile info -->
								<li class="px-3 mb-3">
									<div class="d-flex align-items-center">
										<!-- Avatar -->
										<div class="avatar me-3">
											<img class="avatar-img rounded-circle shadow" src="assets/images/avatar/01.jpg" alt="avatar">
										</div>
										<div>
											<a class="h6 mt-2 mt-sm-0" href="#">Lori Ferguson</a>
											<p class="small m-0">example@gmail.com</p>
										</div>
									</div>
								</li>
		
								<!-- Links -->
								<li> <hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="#"><i class="bi bi-bookmark-check fa-fw me-2"></i>My Bookings</a></li>
								<li><a class="dropdown-item" href="#"><i class="bi bi-heart fa-fw me-2"></i>My Wishlist</a></li>
								<li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Settings</a></li>
								<li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Help Center</a></li>
								<li><a class="dropdown-item bg-danger-soft-hover" href="#"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
							</ul>
						</li>
						<!-- Profile dropdown END -->
					</ul>
					<!-- Top bar right END -->
				</div>
			</div>
		</nav>
		<!-- Top bar END -->
	
		<!-- Page main content START -->
		<div class="page-content-wrapper p-xxl-4">
	
			<!-- Title -->
			<div class="row">
				<div class="col-12 mb-4 mb-sm-5">
					<h1 class="h3 mb-0">Earnings</h1>
				</div>
			</div>

			<!-- Earning block START -->
			<div class="row g-4">
				<!-- Block item -->
				<div class="col-sm-6 col-xxl-3">
					<div class="card card-body bg-light p-4 h-100">
						<h6 class="mb-0">Average daily earning</h6>
						<h3 class="mb-2 mt-2">$112</h3>
						<p class="mt-auto mb-0">Increase <span class="badge bg-success bg-opacity-10 text-success">10% <i class="bi bi-graph-up"></i></span></p>
					</div>
				</div>

				<!-- Block item -->
				<div class="col-sm-6 col-xxl-3">
					<div class="card card-body bg-light p-4 h-100">
						<h6 class="mb-0">Revenue this month</h6>
						<h3 class="mb-2 mt-2">$899.95</h3>
						<p class="mt-auto mb-0">Increase from last month <span class="badge bg-success bg-opacity-10 text-success">21% <i class="bi bi-graph-up"></i></span></p>
					</div>
				</div>
	
				<!-- Block item -->
				<div class="col-sm-6 col-xxl-3">
					<div class="card card-body bg-light p-4 h-100">
						<h6>On hold
							<a tabindex="0" class="h6 mb-0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="After US royalty withholding tax">
								<i class="bi bi-info-circle-fill small"></i>
							</a>
						</h6>
						<h3>$15,356</h3>
						<p class="mb-0 mt-auto">Expected payout on 05/10/2022</p>
					</div>
				</div>
	
				<!-- Block item -->
				<div class="col-sm-6 col-xxl-3">
					<div class="card bg-primary p-4">
							<div class="d-flex justify-content-between align-items-start text-white">
								<img class="w-40px" src="assets/images/element/visa.svg" alt="">
								<!-- Card action START -->
								<div class="dropdown">
									<a class="text-white" href="#" id="creditcardDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
										<!-- Dropdown Icon -->
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<circle fill="currentColor" cx="12.5" cy="3.5" r="2.5"></circle>
											<circle fill="currentColor" opacity="0.5" cx="12.5" cy="11.5" r="2.5"></circle>
											<circle fill="currentColor" opacity="0.3" cx="12.5" cy="19.5" r="2.5"></circle>
										</svg>
									</a>               
									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="creditcardDropdown">
										<li><a class="dropdown-item" href="#"><i class="bi bi-credit-card-2-front-fill me-2 fw-icon"></i>Edit card</a></li>
										<li><a class="dropdown-item" href="#"><i class="bi bi-credit-card me-2 fw-icon"></i>Add new card</a></li>
										<li><a class="dropdown-item" href="#"><i class="bi bi-arrow-bar-down me-2 fw-icon"></i>Withdrawal money</a></li>
										<li><a class="dropdown-item" href="#"><i class="bi bi-calculator me-2 fw-icon"></i>Currency converter</a></li>
									</ul>
								</div>
								<!-- Card action END -->
							</div>
							<div class="mt-4 text-white">
								<span>Total Balance</span>
								<h3 class="text-white mb-0">$32,000</h3>
							</div>
							<h5 class="text-white mt-4">**** **** **** 1569</h5>
							<div class="d-flex justify-content-between text-white">
								<span>Valid thru: 12/26</span>
								<span>CVV: ***</span>
							</div>
					</div>
				</div>
			</div>
			<!-- Earning block END -->

			<!-- Payment history START -->
			<div class="card shadow mt-5">
				<!-- Card header -->
				<div class="card-header border-bottom">
					<h5 class="card-title mb-0">Payment History</h5>
				</div>

				<!-- Card body START -->
				<div class="card-body">
					<!-- Table head -->
					<div class="bg-light rounded p-3 d-none d-sm-block">
						<div class="row row-cols-7 g-4">
							<div class="col"><h6 class="mb-0">Invoice ID</h6></div>
							<div class="col"><h6 class="mb-0">Date</h6></div>
							<div class="col"><h6 class="mb-0">Amount</h6></div>
							<div class="col"><h6 class="mb-0">Status</h6></div>
							<div class="col"><h6 class="mb-0">Action</h6></div>
						</div>
					</div>

					<!-- Table data -->
					<div class="row row-cols-xl-7 g-4 align-items-sm-center border-bottom px-2 py-4">
						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Booked by:</small>
							<h6 class="fw-light mb-0">#0245896</h6>
						</div>	

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Date:</small>
							<h6 class="mb-0 fw-normal">02 Dec 2022</h6>
						</div>

						<!-- Data item -->
						<div class="col position-relative">
							<small class="d-block d-sm-none">Amount:</small>

							<div class="d-flex">
								<h6 class="mb-0 me-1">$3,999</h6>
								<!-- Dropdown icon -->
								<a href="#" class="h6 mb-0" role="button" id="dropdownShare1" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-info-circle-fill"></i>
								</a>
								<!-- Dropdown items -->
								<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare1">
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Commission</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
	
									<li>
										<div class="d-flex justify-content-between">
											<span class="me-4 small">Tax</span>
											<span class="text-danger small ms-2">-$0.00</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
									
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Earning</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Status:</small>
							<div class="badge bg-success bg-opacity-10 text-success">Paid</div>
						</div>

						<!-- Data item -->
						<div class="col"><a href="#" class="btn btn-light btn-round mb-0"><i class="bi bi-cloud-download"></i></a></div>
					</div>

					<!-- Table data -->
					<div class="row row-cols-xl-7 g-4 align-items-lg-center border-bottom px-2 py-4">
						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Booked by:</small>
							<h6 class="fw-light mb-0">#124896</h6>
						</div>	

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Date:</small>
							<h6 class="mb-0 fw-normal">01 Dec 2022</h6>
						</div>

						<!-- Data item -->
						<div class="col position-relative">
							<small class="d-block d-sm-none">Amount:</small>

							<div class="d-flex">
								<h6 class="mb-0 me-1">$2,500</h6>
								<!-- Dropdown icon -->
								<a href="#" class="h6 mb-0" role="button" id="dropdownShare2" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-info-circle-fill"></i>
								</a>
								<!-- Dropdown items -->
								<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare2">
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Commission</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
	
									<li>
										<div class="d-flex justify-content-between">
											<span class="me-4 small">Tax</span>
											<span class="text-danger small ms-2">-$0.00</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
									
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Earning</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Status:</small>
							<div class="badge bg-success bg-opacity-10 text-success">Paid</div>
						</div>

						<!-- Data item -->
						<div class="col"><a href="#" class="btn btn-light btn-round mb-0"><i class="bi bi-cloud-download"></i></a></div>
					</div>

					<!-- Table data -->
					<div class="row row-cols-xl-7 g-4 align-items-lg-center border-bottom px-2 py-4">
						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Booked by:</small>
							<h6 class="fw-light mb-0">#021547</h6>
						</div>	

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Date:</small>
							<h6 class="mb-0 fw-normal">25 Nov 2022</h6>
						</div>

						<!-- Data item -->
						<div class="col position-relative">
							<small class="d-block d-sm-none">Amount:</small>

							<div class="d-flex">
								<h6 class="mb-0 me-1">$4,140</h6>
								<!-- Dropdown icon -->
								<a href="#" class="h6 mb-0" role="button" id="dropdownShare3" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-info-circle-fill"></i>
								</a>
								<!-- Dropdown items -->
								<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare3">
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Commission</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
	
									<li>
										<div class="d-flex justify-content-between">
											<span class="me-4 small">Tax</span>
											<span class="text-danger small ms-2">-$0.00</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
									
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Earning</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Status:</small>
							<div class="badge bg-orange bg-opacity-10 text-orange">Pending</div>
						</div>

						<!-- Data item -->
						<div class="col"><a href="#" class="btn btn-light btn-round mb-0"><i class="bi bi-cloud-download"></i></a></div>
					</div>

					<!-- Table data -->
					<div class="row row-cols-xl-7 g-4 align-items-lg-center border-bottom px-2 py-4">
						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Booked by:</small>
							<h6 class="fw-light mb-0">#014575</h6>
						</div>	

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Date:</small>
							<h6 class="mb-0 fw-normal">24 Nov 2022</h6>
						</div>

						<!-- Data item -->
						<div class="col position-relative">
							<small class="d-block d-sm-none">Amount:</small>

							<div class="d-flex">
								<h6 class="mb-0 me-1">$3,245</h6>
								<!-- Dropdown icon -->
								<a href="#" class="h6 mb-0" role="button" id="dropdownShare4" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-info-circle-fill"></i>
								</a>
								<!-- Dropdown items -->
								<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare4">
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Commission</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
	
									<li>
										<div class="d-flex justify-content-between">
											<span class="me-4 small">Tax</span>
											<span class="text-danger small ms-2">-$0.00</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
									
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Earning</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Status:</small>
							<div class="badge bg-success bg-opacity-10 text-success">Paid</div>
						</div>

						<!-- Data item -->
						<div class="col"><a href="#" class="btn btn-light btn-round mb-0"><i class="bi bi-cloud-download"></i></a></div>
					</div>

					<!-- Table data -->
					<div class="row row-cols-xl-7 g-4 align-items-lg-center border-bottom px-2 py-4">
						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Booked by:</small>
							<h6 class="fw-light mb-0">#052478</h6>
						</div>	

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Date:</small>
							<h6 class="mb-0 fw-normal">22 Nov 2022</h6>
						</div>

						<!-- Data item -->
						<div class="col position-relative">
							<small class="d-block d-sm-none">Amount:</small>

							<div class="d-flex">
								<h6 class="mb-0 me-1">$1,825</h6>
								<!-- Dropdown icon -->
								<a href="#" class="h6 mb-0" role="button" id="dropdownShare5" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-info-circle-fill"></i>
								</a>
								<!-- Dropdown items -->
								<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare5">
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Commission</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
	
									<li>
										<div class="d-flex justify-content-between">
											<span class="me-4 small">Tax</span>
											<span class="text-danger small ms-2">-$0.00</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
									
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Earning</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Status:</small>
							<div class="badge bg-danger bg-opacity-10 text-danger">Canceled</div>
						</div>

						<!-- Data item -->
						<div class="col"><a href="#" class="btn btn-light btn-round mb-0"><i class="bi bi-cloud-download"></i></a></div>
					</div>

					<!-- Table data -->
					<div class="row row-cols-xl-7 g-4 align-items-lg-center border-bottom px-2 py-4">
						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Booked by:</small>
							<h6 class="fw-light mb-0">#04785</h6>
						</div>	

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Date:</small>
							<h6 class="mb-0 fw-normal">20 Nov 2022</h6>
						</div>

						<!-- Data item -->
						<div class="col position-relative">
							<small class="d-block d-sm-none">Amount:</small>

							<div class="d-flex">
								<h6 class="mb-0 me-1">$3,656</h6>
								<!-- Dropdown icon -->
								<a href="#" class="h6 mb-0" role="button" id="dropdownShare6" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-info-circle-fill"></i>
								</a>
								<!-- Dropdown items -->
								<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare6">
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Commission</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
	
									<li>
										<div class="d-flex justify-content-between">
											<span class="me-4 small">Tax</span>
											<span class="text-danger small ms-2">-$0.00</span>
										</div>
										<hr class="my-1"> <!-- Divider -->
									</li>
									
									<li>
										<div class="d-flex justify-content-between">
											<span class="small">Earning</span>
											<span class="h6 mb-0 small ms-2">$86</span>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<!-- Data item -->
						<div class="col">
							<small class="d-block d-sm-none">Status:</small>
							<div class="badge bg-success bg-opacity-10 text-success">Paid</div>
						</div>

						<!-- Data item -->
						<div class="col"><a href="#" class="btn btn-light btn-round mb-0"><i class="bi bi-cloud-download"></i></a></div>
					</div>
				</div>
				<!-- Card body END -->

				<!-- Card footer START -->
				<div class="card-footer pt-0">
					<!-- Pagination and content -->
					<div class="d-sm-flex justify-content-sm-between align-items-sm-center">
						<!-- Content -->
						<p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
						<!-- Pagination -->
						<nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
							<ul class="pagination pagination-sm pagination-primary-soft mb-0">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1">Prev</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item active"><a class="page-link" href="#">2</a></li>
								<li class="page-item disabled"><a class="page-link" href="#">..</a></li>
								<li class="page-item"><a class="page-link" href="#">15</a></li>
								<li class="page-item">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- Card footer END -->
			</div>
			<!-- Payment history END -->

		</div>
		<!-- Page main content END -->
	</div>
	<!-- Page content END -->
	
	</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendor -->
<script src="assets/vendor/overlay-scrollbar/js/overlayscrollbars.min.js"></script>

<!-- ThemeFunctions -->
<script src="assets/js/functions.js"></script>

</body>
</html>