<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>서울상담소</title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="Finder - Directory &amp; Listings Bootstrap Template">
  <meta name="keywords"
    content="bootstrap, business, directory, listings, e-commerce, car dealer, city guide, real estate, job board, user account, multipurpose, ui kit, html5, css3, javascript, gallery, slider, touch">
  <meta name="author" content="Createx Studio">
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="img\city-guide\logo\logo.gif">
  <link rel="icon" type="image/png" sizes="32x32" href="img\city-guide\logo\logo.gif">
  <link rel="icon" type="image/png" sizes="16x16" href="img\city-guide\logo\logo.gif">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#766df4">
  <meta name="theme-color" content="#ffffff">
  <!-- Page loading styles-->
  <style>
    /* .video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율에 대한 비디오 컨테이너의 높이 설정 
}*/

/*.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 1350px;
  height: 500px;
  object-fit: cover; /* 비디오를 컨테이너에 꽉 차게 표시
} */

    
    .page-loading {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all .4s .2s ease-in-out;
      transition: all .4s .2s ease-in-out;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      z-index: 9999;
    }

    .page-loading.active {
      opacity: 1;
      visibility: visible;
    }

    .page-loading-inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;
      opacity: 0;
    }

    .page-loading.active>.page-loading-inner {
      opacity: 1;
    }

    .page-loading-inner>span {
      display: block;
      font-size: 1rem;
      font-weight: normal;
      color: #666276;
      ;
    }

    .page-spinner {
      display: inline-block;
      width: 2.75rem;
      height: 2.75rem;
      margin-bottom: .75rem;
      vertical-align: text-bottom;
      border: .15em solid #bbb7c5;
      border-right-color: transparent;
      border-radius: 50%;
      -webkit-animation: spinner .75s linear infinite;
      animation: spinner .75s linear infinite;
    }

    @-webkit-keyframes spinner {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes spinner {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  </style>

  <style>
    /* CSS 스타일 추가 */
    .scrollable-menu {
      max-height: 200px;
      overflow-y: auto;
    }
  </style>

<style>
  .searchbarmoveTop {
        position: absolute;
        top: 460px;
        left: calc(50% - 590px);
        width: 610px;
        max-width: 100%;
        margin: 0 auto;
        resize: horizontal;
        z-index: 1;
    }
</style>


  <!-- Page loading scripts-->
  <script>
    (function () {
      window.onload = function () {
        var preloader = document.querySelector('.page-loading');
        preloader.classList.remove('active');
        setTimeout(function () {
          preloader.remove();
        }, 2000);
      };
    })();



  </script>
  <!-- Vendor Styles-->
  <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
  <link rel="stylesheet" media="screen" href="vendor/flatpickr/dist/flatpickr.min.css" />
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="css/theme.min.css">
</head>
<!-- Body-->

<body style="padding-left: 130px; padding-right: 130px;">
 
<!-- Navbar-->
<header class="navbar navbar-expand-lg navbar-light bg-white fixed-top" data-scroll-header>
  <div class="container"><a class="navbar-brand me-3 me-xl-4" href="1_main_page.html"><img class="d-block"
        src="img\city-guide\logo\logo.gif" width="116" alt="Finder"></a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
        <div class="dropdown d-none d-lg-block order-lg-3 my-n2 me-3"><a class="d-block py-2" href="0_myPage-info.html"><img
          class="rounded-circle" src="img/avatars/36.png" width="40" alt="Annette Black"></a>
      <div class="dropdown-menu dropdown-menu-end">
        <div class="d-flex align-items-start border-bottom px-3 py-1 mb-2" style="width: 16rem;"><img
            class="rounded-circle" src="img/avatars/24.png" width="48" alt="Annette Black">
          <div class="ps-2">
            <h6 class="fs-base mb-0">최길동</h6><span class="star-rating star-rating-sm"><i
                class="star-rating-icon fi-star-filled active"></i><i
                class="star-rating-icon fi-star-filled active"></i><i
                class="star-rating-icon fi-star-filled active"></i><i
                class="star-rating-icon fi-star-filled active"></i><i
                class="star-rating-icon fi-star-filled active"></i></span>
            <div class="fs-xs py-2">010-1234-5678<br>choi@email.com</div>
          </div>
        </div><a class="dropdown-item" href="0_myPage-info.html"><i class="fi-user opacity-60 me-2"></i>나의 정보</a><a
          class="dropdown-item" href="0_myPage-favoritHotel.html"><i class="fi-heart opacity-60 me-2"></i>찜한 숙소</a><a
          class="dropdown-item" href="0_myPage-favoritFood.html"><i class="fi-heart opacity-60 me-2"></i>찜한 맛집</a><a
          class="dropdown-item" href="city-guide-account-reviews.html"><i class="fi-star opacity-60 me-2"></i>리뷰</a>
        <div class="dropdown-divider"></div><a class="dropdown-item" href="5.3_Q&A.html">고객센터</a><a
          class="dropdown-item" href="signin-light.html">로그아웃</a>
      </div>
    </div>
    <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
      <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">

        <!-- Menu items-->
        <li class="nav-item dropdown active"><a class="nav-link" href="1_main_page.html" role="button"
            aria-expanded="false"><strong>Home</strong></a>
        </li>
        <li class="nav-item dropdown"><a class="nav-link" href="3_food.html" role="button"
            aria-expanded="false"><strong>맛집</strong></a>
        </li>
        <li class="nav-item dropdown"><a class="nav-link" href="4_accommodation.html" role="button"
            aria-expanded="false"><strong>숙소</strong></a>
        </li>
        <li class="nav-item dropdown"><a class="nav-link" href="2_hotplace.html" role="button"
            aria-expanded="false"><strong>핫플레이스</strong></a>
        </li>
        <li class="nav-item dropdown"><a class="nav-link" href="5_community.html" role="button"
            aria-expanded="false"><strong>커뮤니티</strong></a>
        </li>
        <li class="nav-item d-lg-none"><a class="nav-link" href="#signin-modal" data-bs-toggle="modal"><i
              class="fi-user me-2"></i>Sign in</a></li>
      </ul>
    </div>
  </div>
</header>




  <style>
     .video-container {
    position: relative;
    top: -120px; /* 비디오를 위로 130px 이동시키려면 값을 조정하세요 */
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
    max-height: 115%;
  }
  
  
  .video-container video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  </style>
  <section class="jarallax bg-dark zindex-1 py-xxl-5" data-jarallax data-speed="0.5" style="margin-top: 100px;">
    <span class="img-overlay bg-transparent " style="background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(31, 27, 45, 0));"></span>
    <div class="jarallax-img">
      <div class="video-container">
        <video autoplay loop muted>
          <source src="img/city-guide/home/Untitled video - Made with Clipchamp.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="content-overlay container py-md-5" style="height: 400px;">
      <div class="mt-5 mb-md-5 py-5">
        <h1 class="display-5 mb-4 me-lg-n5 text-lg-start text-center mb-4" style="color: white; margin-left: 28px;">고민하지말고 <span style="color:#25af9b;">서울상담소</span> <span>
        <h8 class="text-lg-start text-center mb-4 mb-lg-5 fs-lg" style="color: rgb(255, 255, 255); margin-left: 28px;"><br>잠들지 않는 도시, 서울에 당신을 초대합니다.</h8>
        <div class="col-xl-7 col-lg-9 col-md-10 mx-1 px-lg-1">
        </div>
      </div>
    </div>
    <div class="position-absolute d-none d-xxl-block bottom-0 start-0 w-100 bg-white zindex-1" style="border-top-left-radius: 30px; border-top-right-radius: 30px; height: 30px;"></div>
  </section>



  <!-- 오늘 숙소 여기 어때요?-->
  <section class="container mb-sm-5 mb-4 pb-lg-4" style="margin-top:30px">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 pb-2">
      <h2 class="h4" style="margin-bottom: -25px;">서울과 함께 지내요</h2><a class="btn btn-link fw-normal ms-sm-3 p-0"
        href="4.2_accmmoGallery.html">더 보기<i class="fi-arrow-long-right ms-2"></i></a>
    </div>
    <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside">
      <div class="tns-carousel-inner"
        data-carousel-options="{&quot;items&quot;: 4, &quot;gutter&quot;: 24, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1,&quot;nav&quot;:true},&quot;500&quot;:{&quot;items&quot;:2},&quot;850&quot;:{&quot;items&quot;:3},&quot;1400&quot;:{&quot;items&quot;:4,&quot;nav&quot;:false}}}">
        <!-- Item-->
        <div>
          <div class="position-relative">
            <div class="position-relative mb-3">
              <button
                class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-5.5 m-2 zindex-5"
                type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i
                  class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/01.jpg" alt="Image"
                width="300px" height="250px">
            </div>
            <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="4.2_accmmoGallery.html">Berlin Business
                Hotel</a></h3>
            <ul class="list-inline mb-0 fs-xs">
              <li class="list-inline-item pe-1"><i
                  class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>5.0</b><span
                  class="text-muted">&nbsp;(48)</span></li>
              <li class="list-inline-item pe-1">
              <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>강남구</li>
            </ul>
          </div>
        </div>
        <!-- Item-->
        <div>
          <div class="position-relative">
            <div class="position-relative mb-3">
              <button
                class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-5.5 m-2 zindex-5"
                type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i
                  class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/02.jpg" alt="Image"
                width="300px" height="250px">
            </div>
            <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="4.2_accmmoGallery.html">Big Tree Cottage</a>
            </h3>
            <ul class="list-inline mb-0 fs-xs">
              <li class="list-inline-item pe-1"><i
                  class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.8</b><span
                  class="text-muted">&nbsp;(24)</span></li>
              <li class="list-inline-item pe-1">
              <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>강남구</li>
            </ul>
          </div>
        </div>
        <!-- Item-->
        <div>
          <div class="position-relative">
            <div class="position-relative mb-3">
              <button
                class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-5.5 m-2 zindex-5"
                width=50px type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i
                  class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/03.jpg" alt="Image"
                width="300px" height="250px">
            </div>
            <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="4.2_accmmoGallery.html">Grand Resort &amp;
                Spa</a></h3>
            <ul class="list-inline mb-0 fs-xs">
              <li class="list-inline-item pe-1"><i
                  class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.9</b><span
                  class="text-muted">&nbsp;(43)</span></li>
              <li class="list-inline-item pe-1">
              <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>강남구</li>
            </ul>
          </div>
        </div>
        <!-- Item-->
        <div>
          <div class="position-relative">
            <div class="position-relative mb-3">
              <button
                class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-5.5 m-2 zindex-5"
                type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i
                  class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/04.jpg" alt="Image"
                width="300px" height="250px">
            </div>
            <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="4.2_accmmoGallery.html">Merry Berry
                Motel</a>
            </h3>
            <ul class="list-inline mb-0 fs-xs">
              <li class="list-inline-item pe-1"><i
                  class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.5</b><span
                  class="text-muted">&nbsp;(13)</span></li>
              <li class="list-inline-item pe-1">
              <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>강남구</li>
            </ul>
          </div>
        </div>
        <!-- Item-->
        <div>
          <div class="position-relative">
            <div class="position-relative mb-3">
              <button
                class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-5.5 m-2 zindex-5"
                type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Favorites"><i
                  class="fi-heart"></i></button><img class="rounded-3" src="img/city-guide/catalog/04.jpg" alt="Image"
                width="300px" height="250px">
            </div>
            <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link" href="4.2_accmmoGallery.html">Merry Berry
                Motel</a>
            </h3>
            <ul class="list-inline mb-0 fs-xs">
              <li class="list-inline-item pe-1"><i
                  class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b>4.5</b><span
                  class="text-muted">&nbsp;(13)</span></li>
              <li class="list-inline-item pe-1"><i
                  class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i>$$</li>
              <li class="list-inline-item pe-1"><i class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i>0.4
                km from center</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Posts with sidebar right-->
  <section class="container mt-6">
    <div class="row row-cols-auto">
      <!-- Content-->
      <div class="col-lg-9  col-sm-offset-11   col-md-offset-6">
        <div class="h4 widget-title pb-1" style="margin-bottom: 10px;">서울 상담소의 추천 플레이스</div>
        <!-- Post-->
        <article class="card card-horizontal card-hover mb-grid-gutter"><a href="2.2_hotplaceDetailed .html" class="card-img-top"
            style="background-image: url(img/city-guide/home/deoksugung.jpeg) ;"><span
              class="badge badge-lg badge-floating text-white" style="background-color: #f74f78;">BEST</span></a>
              <div class="card-body">
                <span class="d-inline-block mb-2 pb-1 fs-sm">
                  <i class="ai-clock fs-base me-2 mt-n1"></i>
                  <strong>일주일 전 베스트글</strong>
                </span>
                <h2 class="h4 nav-heading text-capitalize mb-3">
                  <a href="2.2_hotplaceDetailed .html" style="text-decoration: none;">"뻔한 고궁 투어 싫어요" <p>미처 몰랐던 덕수궁 관람 팁</p></a>
                </h2>
            <p class="mb-0 fs-sm text-muted">덕수궁 대한문 앞, 왕궁수문장 교대의식
              궁으로 입장하기 전, ‘왕궁수문장 교대의식’을 관람하자. 왕궁수문장 교대의식은 조선시대 궁성문 개폐의식, 궁성 수위의식, 행순 등의 자료를 바탕으로 명칭을
              정한
              것으로...</p>
              <div class="mt-3 text-end fs-xs">2023.05.03</div>
          </div>
        </article>

        <!-- Pagination-->
        <div class="d-md-flex justify-content-between align-items-center pt-3 pb-sm-2">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <label class="pe-1 me-2 mt-n1 fs-sm">
              </select>
          </div>
          <nav class="mb-4" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
            </ul>
          </nav>
        </div>
      </div>
      <!-- Sidebar-->
      <aside class="col-lg-3 col-sm-3 mt-0 d-none d-lg-block d-xl-block">
        <div class="offcanvas offcanvas-collapse d-none d-lg-block d-xl-block">
          <div class="offcanvas-header">
          </div>
          <div class="offcanvas-body px-4 pt-3 pt-lg-0 pe-lg-0 ps-lg-2 ps-xl-4" data-simplebar>
          </div>
          <!-- Featured posts-->
          <div class="widget mt-n1 mb-5 remove-left-margin">
            <h3 class="widget-title pb-1">오늘의 맛집</h3>
            <div class="widget mt-n1 mb-5" style="border: 1px solid #e8e8e8; padding: 4px; border-radius: 12px;">
              <div class="d-flex align-items-start mb-3 mt-3" style="margin-left: 3%;">
                <a class="d-block flex-shrink-0" href="3.2_foodDetailed.html"><img
                  class="rounded" src="img\city-guide\home\bbosik.jpg" alt="Post" width="64"></a>
              <div class="ps-2 ms-1">
                <h5 class="fs-md nav-heading mb-1"><a class="fw-medium" href="3.2_foodDetailed.html" style="text-decoration: none;">뽀글이 두루찌개</a></h5>
                <p class="fs-xs text-muted mb-0">마곡동 중앙6로 93 1층</p>
              </div>
            </div>
            <div class="d-flex align-items-start mb-3 mt-3" style="margin-left: 3%;;">
              <a class="d-block flex-shrink-0" href="3.2_foodDetailed.html"><img
                  class="rounded" img src="img\city-guide\home\samgyupsal.jpg" alt="Post" width="64"></a>
              <div class="ps-2 ms-1">
                <h5 class="fs-md nav-heading mb-1"><a class="fw-medium" href="3.2_foodDetailed.html" style="text-decoration: none;">바담</a></h5>
                <p class="fs-xs text-muted mb-0">공항대로 269-15</p>
              </div>
            </div>
            <div class="d-flex align-items-start mb-3 mt-3" style="margin-left: 10px;">
              <a class="d-block flex-shrink-0" href="3.2_foodDetailed.html"><img
                  class="rounded" src="img\city-guide\home\sushi.jpg" alt="Post" width="64"></a>
              <div class="ps-2 ms-1">
                <h5 class="fs-md nav-heading mb-1"><a class="fw-medium" href="3.2_foodDetailed.html" style="text-decoration: none;">나미식당</a></h5>
                <p class="fs-xs text-muted mb-0">가양동 160-13</p>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>

  <!-- Videos-->
  <div class="container-fluid" style="min-height: 425px; margin-bottom: 80px; margin-top: 30px; background-color: #70bfac;">
    <h2 class="display-5 fw-bold text-center" style="margin-top: 50px;"></h2>
    <div class="col-lg-6 mx-auto text-center" >
      <p class="lead mb-4"></p>
    </div>
  
    <div class="container" style="margin-top: 20px;">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center">
          <div class="youtube-thumbnail" style="height: 330px;">
            <iframe src="https://www.youtube.com/embed/nmY3X5dE9HQ" frameborder="0" style="height: 100%;"></iframe>
          </div>
        </div>
        <div class="col-lg-1 text-center">
        </div>
        <div class="col-lg-5 text-center">
          <div class="youtube-thumbnail d-none d-lg-block d-xl-block" style="height: 330px;">
            <iframe src="https://www.youtube.com/embed/dZhcTWWMytI" frameborder="0" style="height: 100%;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>





    <section class="container mb-sm-2 mb-4 pb-lg-4">
      <div class="row">
        <div class="col-sm-12 h3 widget-title pb-1">오늘 여기 어때요?</div>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="result5" role="tabpanel">
            <div class="px-5">
              <div class="tns-carousel-wrapper tns-controls-outside tns-nav-outside">
                <div class="tns-carousel-inner" data-carousel-options="
                          {&quot;items&quot;: 5, &quot;responsive&quot;: 
                            {&quot;0&quot;:{&quot;items&quot;:2},
                            &quot;480&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 16},
                            &quot;680&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 16},
                            &quot;850&quot;:{&quot;items&quot;:5, &quot;gutter&quot;: 16}}}">
                  <a class="swap-image" href="2.2_hotplaceDetailed .html"><img src="img/city-guide/home/1.jpeg"
                      class="rounded-2 img-fluid gallery-item" alt="Image1" width="300px" height="250px"></a>
                  <a class="swap-image" href="2.2_hotplaceDetailed .html"><img src="img/city-guide/home/2.jpeg"
                      class="rounded-2 img-fluid gallery-item" alt="Image1" width="300px" height="250px"></a>
                  <a class="swap-image" href="2.2_hotplaceDetailed .html"><img src="img/city-guide/home/3.jpeg"
                      class="rounded-2 img-fluid gallery-item" alt="Image1" width="300px" height="250px"></a>
                  <a class="swap-image" href="2.2_hotplaceDetailed .html"><img src="img/city-guide/home/4.jpeg"
                      class="rounded-2 img-fluid gallery-item" alt="Image1" width="300px" height="250px"></a>
                  <a class="swap-image" href="2.2_hotplaceDetailed .html"><img src="img/city-guide/home/5.jpeg"
                      class="rounded-2 img-fluid gallery-item" alt="Image1" width="300px" height="250px"></a>
                  <a class="swap-image" href="2.2_hotplaceDetailed .html"><img src="img/city-guide/home/1.jpeg"
                      class="rounded-2 img-fluid gallery-item" alt="Image1" width="300px" height="250px"></a>
    
    
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="html5" role="tabpanel">
            <pre class="line-numbers"><code class="lang-html">
    
                      </code></pre>
          </div>
          <div class="tab-pane fade" id="pug5" role="tabpanel">
            <pre class="line-numbers"><code class="lang-pug">
    
                        </code>
                      </pre>
          </div>
        </div>
      </div>
    </section>




    <!-- Blog: Latest posts-->
    <section class="container my-2 py-lg-4">
      <div class="d-sm-flex align-items-center justify-content-between mb-4 pb-2">
        <h2 class="h3 mb-sm-0">회원님들의 후기</h2><a class="btn btn-link fw-normal ms-sm-3 p-0" href="5_community.html">커뮤니티 페이지<i class="fi-arrow-long-right ms-2"></i></a>
      </div>
      <!-- Carousel-->
      <div class="tns-carousel-wrapper tns-nav-outside mb-md-2">
        <div class="tns-carousel-inner d-block" data-carousel-options="{&quot;controls&quot;: false, &quot;gutter&quot;: 24, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1,&quot;nav&quot;:true},&quot;500&quot;:{&quot;items&quot;:2},&quot;850&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}}}">
          <!-- Item-->
          <article><a class="d-block mb-3" href="5.2_communityBlog.html"><img class="rounded-3" src="img/city-guide/blog/01.jpg" alt="Post image"></a><a class="fs-xs text-uppercase text-decoration-none" href="#">핫플레이스</a>
            <h3 class="fs-base pt-1"><a class="nav-link" href="5.2_communityBlog.html">뮤지컬 관람 후기</a></h3><a class="d-flex align-items-center text-decoration-none" href="#"><img class="rounded-circle" src="img/avatars/16.png" width="44" alt="Avatar">
              <div class="ps-2">
                <h6 class="fs-sm text-nav lh-base mb-1">박길동</h6>
                <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>2023.05.23</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>No comments</span></div>
              </div></a>
          </article>
          <!-- Item-->
          <article><a class="d-block mb-3" href="5.2_communityBlog.html"><img class="rounded-3" src="img/city-guide/blog/02.jpg" alt="Post image"></a><a class="fs-xs text-uppercase text-decoration-none" href="#">맛집</a>
            <h3 class="fs-base pt-1"><a class="nav-link" href="5.2_communityBlog.html">맛집 방문 후기</a></h3><a class="d-flex align-items-center text-decoration-none" href="#"><img class="rounded-circle" src="img/avatars/18.png" width="44" alt="Avatar">
              <div class="ps-2">
                <h6 class="fs-sm text-nav lh-base mb-1">최길동</h6>
                <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>2023.05.23</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>4 comments</span></div>
              </div></a>
          </article>
          <!-- Item-->
          <article><a class="d-block mb-3" href="5.2_communityBlog.html"><img class="rounded-3" src="img/city-guide/blog/03.jpg" alt="Post image"></a><a class="fs-xs text-uppercase text-decoration-none" href="#">숙박</a>
            <h3 class="fs-base pt-1"><a class="nav-link" href="5.2_communityBlog.html">강남호텔 숙박 후기</a></h3><a class="d-flex align-items-center text-decoration-none" href="#"><img class="rounded-circle" src="img/avatars/17.png" width="44" alt="Avatar">
              <div class="ps-2">
                <h6 class="fs-sm text-nav lh-base mb-1">김길동</h6>
                <div class="d-flex text-body fs-xs"><span class="me-2 pe-1"><i class="fi-calendar-alt opacity-70 mt-n1 me-1 align-middle"></i>2023.05.23</span><span><i class="fi-chat-circle opacity-70 mt-n1 me-1 align-middle"></i>2 comments</span></div>
              </div></a>
          </article>
        </div>
      </div>
    </section>








  <!-- Footer-->
  <footer class="footer pt-lg-1 pt-4 bg-dark text-light" style="margin-top: 100px;">
    <div class="container-fluid mb-1 py-4 pb-lg-1">
      <div class="row gy-2">
        <div class="col-lg-5 col-md-2 col-sm-3">
          <div class="mb-3 pb-sm-3"><a class="d-inline-block" href="1_main_page.html"><img src="img\city-guide\logo\logo.gif" width="100" alt="Logo"></a></div>
          <ul class="nav nav-light flex-column">
            <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal text-light text-nowrap" href="mailto:example@gmail.com"><i class="fi-mail mt-n1 me-1 align-middle text-primary"></i>Seuoltrip@email.com</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 fw-normal text-light text-nowrap" href="tel:4065550120"><i class="fi-device-mobile mt-n1 me-1 align-middle text-primary"></i>(02) 1234-5678</a></li>
          </ul>
        </div>
        <!-- Links-->
        <div class="col-lg-2 col-md-3 col-sm-4">
          <h3 class="fs-base text-light">SNS</h3>
          <ul class="list-unstyled fs-sm">
            <li><a class="nav-link-light" href="#">Blog</a></li>
            <li><a class="nav-link-light" href="#">Post</a></li>
            <li><a class="nav-link-light" href="#">FaceBook</a></li>
            <li><a class="nav-link-light" href="#">Twitter</a></li>
            <li><a class="nav-link-light" href="#">Kakao Story</a></li>
            <li><a class="nav-link-light" href="#">Instagram</a></li>
          </ul>
        </div>
        
        <!-- Links-->
        <div class="col-lg-2 col-md-3 col-sm-4">
          <h3 class="fs-base text-light">About </h3>
          <ul class="list-unstyled fs-sm">
            <li><a class="nav-link-light" href="#">About us</a></li>
            <li><a class="nav-link-light" href="#">Contact us</a></li>
            <li><a class="nav-link-light" href="#">FAQs & support</a></li>
            <li><a class="nav-link-light" href="#">Mobile app</a></li>
            <li><a class="nav-link-light" href="#">Blog</a></li>
          </ul>
        </div>
        
        <!-- Links-->

        <div class="col-lg-2 col-md-3 col-sm-4">
          <h3 class="fs-base text-light">Profile </h3>
          <ul class="list-unstyled fs-sm">
            <li><a class="nav-link-light" href="#">My account</a></li>
            <li><a class="nav-link-light" href="#">My comments</a></li>
            <li><a class="nav-link-light" href="#">My favorite area</a></li>
            <li><a class="nav-link-light" href="#">My travel diary</a></li>
            
          </ul>
        </div>
        <!-- Subscription form-->
            </div>
            
          </form>
        </div>
      </div>
    </div>
    <div class="py-1 border-top border-light">
      <div class="container d-flex flex-column flex-lg-row align-items-center justify-content-between py-2">
        <!-- Copyright-->
        <p class="order-lg-1 order-2 fs-sm mb-2 mb-lg-0"><span class="text-light opacity-60">&copy; All rights reserved. Made by </span><a class="nav-link-light fw-bold" href="https://createx.studio/" target="_blank" rel="noopener">서울상담소</a></p>
        <div class="d-flex flex-lg-row flex-column align-items-center order-lg-2 order-1 ms-lg-4 mb-lg-0 mb-4">
          <!-- Links-->
          <div class="d-flex flex-wrap fs-sm mb-lg-3 mb-4 pe-lg-10"><a class="nav-link-light px-10 mx-10" href="#">개인정보처리방침</a><a class="nav-link-light px-2 mx-1" href="#">이용약관</a><a class="nav-link-light px-2 mx-1" href="#">Q/A</a><a class="nav-link-light px-2 mx-1" href="#">찾아오시는 길</a><a class="nav-link-light px-2 mx-1" href="#">저작권정책</a><a class="nav-link-light px-2 mx-1" href="#">고객서비스현장</a></div>
          <div class="d-flex align-items-center">
           
            <!-- Socials-->
            <div class="ms-4 ps-lg-2 text-nowrap"><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle ms-2" href="#"><i class="fi-facebook"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle ms-2" href="#"><i class="fi-twitter"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle ms-2" href="#"><i class="fi-telegram"></i></a><a class="btn btn-icon btn-translucent-light btn-xs rounded-circle ms-2" href="#"><i class="fi-messenger"></i></a></div>
          
          </div>
          
          
        </div>
        
      </div>
      
    </div>
    
  </footer>


    </div>
  </footer>
  <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll><span
      class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon fi-chevron-up">
    </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="vendor/flatpickr/dist/flatpickr.min.js"></script>
  <!-- Main theme script-->
  <script src="js/theme.min.js"></script>
</body>

</html>