<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.tour.model.mapper.CultureContentMapper">

	<select id="selectCultureContentList" parameterType="map" resultType="CultureContent">
		SELECT 	*
		FROM CultureContent
		WHERE 1 = 1
		<if test="searchValue != null">
			AND title LIKE '%${searchValue}%'
		</if>
		ORDER BY contentid LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectCultureContentRandomList" parameterType="map" resultType="CultureContent">
		SELECT 
			*
		FROM CultureContent ORDER BY RAND() limit 12
	</select>
	
	<select id="selectByContentId" parameterType="int" resultType="CultureContent">
		SELECT *
		FROM CultureContent
		WHERE contentid = #{id}
	</select>
	
	<select id="selectCultureContentCount" parameterType="map" resultType="int">
		SELECT count(*)
		FROM CultureContent
	</select>
	
</mapper>