<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.tour.model.mapper.FestivalMapper">

	<select id="selectFestivalList" parameterType="map" resultType="Festival">
		SELECT *
		FROM Festival
		WHERE 1 = 1
		<if test="searchValue != null">
			AND title LIKE '%${searchValue}%' 
		</if>
		ORDER BY contentid LIMIT ${limit} OFFSET ${offset}
	</select>

	<select id="selectFestivalRandomList" parameterType="map" resultType="Festival">
		SELECT contentid, title, eventstartdate, eventenddate, firstimage
		FROM tourapi.festival
		WHERE date_format(now(), '%Y%m%d') BETWEEN eventstartdate AND eventenddate
		ORDER BY RAND() limit 8
	</select>
	
	<select id="selectByContentId" parameterType="int" resultType="Festival">
		SELECT *
		FROM Festival
		WHERE contentid = #{id}
	</select>
	
	<select id="selectFestivalCount" parameterType="map" resultType="int">
		SELECT count(*)
		FROM Festival
	</select>
</mapper>