<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.tour.model.mapper.FestivalMapper">

	<select id="selectFestivalList" parameterType="map" resultType="Festival">
		SELECT title, eventstartdate, eventenddate, firstimage
		FROM tourapi.festival
		WHERE date_format(now(), '%Y%m%d') BETWEEN eventstartdate AND eventenddate
		ORDER BY eventstartdate
	</select>
</mapper>