<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.tour.model.mapper.FoodMapper">
<!-- 
	<resultMap type="Replies" id="FoodReplyResultMap">
		<result property="rno" column="rNO" />
		<result property="contentid" column="contentid" />
		<result property="contenttypeid" column="contenttypeid" />
		<result property="mno" column="mNO" />
		<result property="writerId" column="ID"/>
		<result property="content" column="CONTENT" />
		<result property="status" column="STATUS" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
	</resultMap>
-->
	
	<select id="selectFoodList" parameterType="map" resultType="Food">
		SELECT title, addr1, firstimage, contentid, 
		CASE 
			WHEN cat3 = 'A05020100' THEN '한식'
			WHEN cat3 = 'A05020200' THEN '양식'
			WHEN cat3 = 'A05020300' THEN '일식'
			WHEN cat3 = 'A05020400' THEN '중식' 
		ELSE '기타' 
		END AS cat3
		FROM food
		WHERE 1 = 1
		<if test="searchValue != null">
			AND title LIKE '%${searchValue}%' 
		</if>
		<if test='cat3 != null and cat3 != "etc"'>
			AND cat3 = #{cat3}
		</if>
		<if test='cat3 != null and cat3 == "etc"'>
			AND cat3 NOT IN ('A05020100', 'A05020200', 'A05020300','A05020400')
		</if>
		ORDER BY contentid LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectFoodCount" parameterType="map" resultType="int">
		SELECT count(*)
		FROM Food
		WHERE 1 = 1 
		<if test="searchValue != null">
			AND title LIKE '%${searchValue}%' 
		</if>
	</select>
	
	<!-- 카테고리 개수 추출 -->
	<select id="selectkoreaCount"  parameterType="map" resultType="int">
	SELECT count(contentid) as cnt 
	FROM food
	where cat3 = 'A05020100' ;
	</select>
	<select id="selectwesternCount"  parameterType="map" resultType="int">
	SELECT count(contentid) as cnt 
	FROM food
	where cat3 = 'A05020200' ;
	</select>
	<select id="selectjapanCount"  parameterType="map" resultType="int">
	SELECT count(contentid) as cnt 
	FROM food
	where cat3 = 'A05020300' ;
	</select>
	<select id="selectchinaCount"  parameterType="map" resultType="int">
	SELECT count(contentid) as cnt 
	FROM food
	where cat3 = 'A05020400' ;
	</select>
	<select id="selectelseCount"  parameterType="map" resultType="int">
	SELECT count(contentid) as cnt 
	FROM food
	where cat3 not in ( 'A05020400', 'A05020300', 'A05020200', 'A05020100')
	</select>
	
	<select id="selectByContentId" parameterType="int" resultType="Food">
		SELECT *
		FROM Food
		WHERE contentid = #{id}
	</select>
	
	
	<select id="selectReplyList" parameterType="int" resultType="Replies">
		select r.*, m.id , m.name
		from replies r
			join member m on m.mNO = r.mNO
		where contentid = #{id}
		order by rNO desc
	</select>

	
	<select id="selectFoodRandomList" parameterType="map" resultType="Food">
		SELECT  *
		FROM Food 
		ORDER BY RAND() limit 3
	</select>
		
	<insert id="insertFoodReply" parameterType="Replies">
		INSERT INTO REPLIES(
			RNO, contentid, contenttypeid, MNO, 
			CONTENT, STATUS, CREATE_DATE, MODIFY_DATE) 
		VALUES(
			default, #{contentid}, 39, #{mno}, #{content}, 
			default, default, default
		)
	</insert>
	
	<delete id="deleteFoodReply" parameterType="int">
		DELETE FROM REPLIES WHERE RNO=#{rno}
	</delete>
</mapper>

