<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.tour.model.mapper.TourListMapper">

	<select id="selectTourListRandomList" parameterType="map" resultType="TourList">
		SELECT 
			*
		FROM TourList ORDER BY RAND() limit 6
	</select>
	
	<select id="selectTourListList" parameterType="map" resultType="TourList">
		SELECT 
			*
		FROM TourList
		WHERE 1 = 1
		<if test="searchValue != null">
			AND title LIKE '%${searchValue}%'
		</if>
		ORDER BY contentid LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectByContentId" parameterType="int" resultType="TourList">
		SELECT *
		FROM TourList
		WHERE contentid = #{id}
	</select>
	
	<select id="selectTourListCount" parameterType="map" resultType="int">
		SELECT count(*)
		FROM TourList
	</select>
	
</mapper>