<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.multi.mvc.board.model.mapper.BoardMapper">

	<resultMap type="Board" id="boardResultMap">
		<result property="bno" column="bNO" />
		<result property="mno" column="mNO" />
		<result property="writerId" column="ID" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="type" column="TYPE" />
		<result property="originalFileName" column="ORIGINAL_FILENAME" />
		<result property="renamedFileName" column="RENAMED_FILENAME" />
		<result property="readCount" column="READCOUNT" />
		<result property="status" column="STATUS" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
	</resultMap>

	<resultMap type="Reply" id="boardReplyResultMap">
		<result property="rno" column="rNO" />
		<result property="bno" column="bNO" />
		<result property="mno" column="mNO" />
		<result property="writerId" column="ID"/>
		<result property="content" column="CONTENT" />
		<result property="status" column="STATUS" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
	</resultMap>
	
	<resultMap type="Board" id="boardDetailResultMap" extends="boardResultMap">
		<collection property="replies" javaType="arrayList" columnPrefix="R_"
													resultMap="boardReplyResultMap"/>
	</resultMap>
	
<!--
	■ 조회 필수 3종 세트   	
	selectBoardList : list를 뽑을때 사용하는데, 페이징, 검색 조건이 모두 포함된 동적 쿼리, 컬럼의 갯수는 꼭 보여줄 것만 선언 
	selectBoardCount : selectBoardList와 쌍으로 갯수를 세오는 Count문, 검색조건이 selectBoardList 일치 해야함
	selectBoardByNo : 내용을 디테일하게 볼수 있는 쿼리 모든 컬럼 내용을 가지고 온다. +@(리플도 한번에 가져올때도 사용)
-->

	<!--				  문제점 : parameterMap으로 되어 있었음 -> 안돌아갑니다.  -->
	<select id="selectBoardList" parameterType="map" resultMap="boardResultMap">
		SELECT 
			B.bNO, B.TITLE, M.ID, B.CREATE_DATE, B.ORIGINAL_FILENAME, B.READCOUNT,B.STATUS
		FROM BOARD B 
		JOIN MEMBER M ON(B.mNO = M.mNO)
		WHERE 1 = 1
		AND B.STATUS = 'Y'
		<if test="id != null">
			AND M.ID LIKE '%${id}%'
		</if>
		<if test="title != null">
			AND B.TITLE LIKE '%${title}%'
		</if>
		<if test="content != null">
			AND B.CONTENT LIKE '%${content}%'
		</if>
		ORDER BY B.bNO DESC LIMIT ${limit} OFFSET ${offset}
	</select>

	<select id="selectBoardCount" parameterType="map" resultType="int">
		SELECT 
			COUNT(*)
		FROM BOARD B 
		JOIN MEMBER M ON(B.mNO = M.mNO)
		WHERE 1 = 1
		AND B.STATUS = 'Y'
		<if test="id != null">
			AND M.ID LIKE '%${id}%'
		</if>
		<if test="title != null">
			AND B.TITLE LIKE '%${title}%'
		</if>
		<if test="content != null">
			AND B.CONTENT LIKE '%${content}%'
		</if>
	</select>
	
	<select id="selectBoardByNo" parameterType="int" resultMap="boardDetailResultMap">
		SELECT  B.bNO, B.TITLE, M.ID, B.READCOUNT, B.ORIGINAL_FILENAME, B.RENAMED_FILENAME, B.CONTENT, B.CREATE_DATE, B.MODIFY_DATE,
				R.rNO as R_RNO, 
		        R.bNO as R_BNO, 
		        R.CONTENT as R_CONTENT, 
		        M2.ID as R_ID, 
		        R.CREATE_DATE as R_CREATE_DATE, 
		        R.MODIFY_DATE as R_MODIFY_DATE
		FROM BOARD B
		JOIN MEMBER M ON(B.mNO = M.mNO)
		LEFT OUTER JOIN REPLY R ON(R.bNO = B.bNO)
		LEFT OUTER JOIN MEMBER M2 ON(R.mNO = M2.mNO)
		WHERE B.STATUS = 'Y' AND  B.bNO= #{bno}
	</select>

	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD(
			bNO, mNO, TITLE, CONTENT, TYPE,	
			ORIGINAL_FILENAME, RENAMED_FILENAME, READCOUNT, STATUS, 
			CREATE_DATE, MODIFY_DATE
		) VALUES (
			default, #{mno}, #{title}, #{content}, #{type},		
			#{originalFileName}, #{renamedFileName}, default, default, 
			default, default
		)
	</insert>
		
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY(
			RNO, BNO, MNO, 
			CONTENT, STATUS, CREATE_DATE, MODIFY_DATE) 
		VALUES(
			default, #{bno}, #{mno}, #{content}, 
			default, default, default
		)
	</insert>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD 
		SET 
			TITLE = #{title},
			CONTENT = #{content},
			<if test="originalFileName != null">
				ORIGINAL_FILENAME = #{originalFileName},
			</if>
			<if test="renamedFileName != null">
				RENAMED_FILENAME = #{renamedFileName},
			</if>
			MODIFY_DATE = CURRENT_TIMESTAMP
		WHERE 
			BNO = #{bno}
	</update>
	
	<!-- board로 수정함  -->
	<update id="updateReadCount" parameterType="board">
		UPDATE BOARD SET READCOUNT = #{readCount} WHERE BNO = #{bno}
	</update>

	<update id="deleteBoard" parameterType="int">
		UPDATE BOARD SET STATUS='N' WHERE BNO=#{bno}
	</update>
	
	<delete id="deleteReply" parameterType="int">
		DELETE FROM REPLY WHERE RNO=#{rno}
	</delete>
</mapper>

